<!-- Menu docs-->
<div id="menu">
    <a class="menu" href="index.html"
    {% if page.menu == "home" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        home
    </a>
    &nbsp;|&nbsp;&nbsp;
    <a class="menu" href="download.html"
    {% if page.menu == "download" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        download
    </a>
    &nbsp;|&nbsp;&nbsp;
    <a class="menu" href="docs.html"
    {% if page.menu == "docs" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        docs
    </a>
    &nbsp; |&nbsp;&nbsp;
    <a class="menu" href="contribute.html"
    {% if page.menu == "contribute" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        contribute
    </a>
    &nbsp;|&nbsp;&nbsp;
    <a class="menu" href="https://github.com/manns/pyspread/issues" target="_blank">
        bugs
    </a>
    <br> <br>
</div>