{% extends "!page.html" %}


{% block header %}
<link rel="stylesheet" href="/pyspread/_static/style.1.css">
<div id="XHEAD">
    <h1 class="main_title"><a href="/pyspread/">pyspread</a></h1>
</div>
{{ super() }}

{% endblock %}


