<aside>

  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <a href="images/code_structure.png">
    <img alt="Code structure" src="images/code_structure_small.png"
         style="border: 0px solid; width: 200px; height: 265px;"
         title="Code structure">
  </a>

</aside>


<h1>How to help</h1>

<p class="one_line_heading">
  Thank you for wanting to help pyspread. Bug reports, translations, icons,
  deployment to further operation systems, code, ideas etc. are most welcome.
</p>

<p class="one_line_heading">
  For bug reports, please follow the link in the menu to the pyspread issue
  tracker on github.
  For anything else please send an e-mail to
  <a href="mailto:pyspread-dev@gna.org">pyspread-dev@gna.org</a>.
</p>


<h1>Localization</h1>

<p class="one_line_heading">

  Pyspread is localized via the
  <a href="http://translationproject.org">Translation project</a>, i.e.
  the textual content of the user interface is translated into different
  languages. If you like to localize pyspread, please refer to the
  <a href="http://translationproject.org/domain/pyspread.html">translators' page</a>
  for detailed instructions.

</p>

<p class="one_line_heading">

  Localization status (for latest additions see the
  <a href="http://translationproject.org/domain/pyspread.html">translation project page</a>):

</p>

<ul class="one_line_heading">
  <li style="color: rgb(0, 153, 0);">Brazilian Portuguese (pt_BR): 549 /
    549 translated by Enrico Nicoletto and Rafael Fontenelle</li>
  <li style="color: rgb(0, 153, 0);">Danish (da): 549 / 549
    translated by Joe Hansen</li>
  <li style="color: rgb(255, 0, 0);">Dutch (nl): 101 / 549
    translated by Mark Haanen</li>
  <li style="color: rgb(255, 0, 0);">French (fr): 462 / 549
    translated by Frédéric Marchal</li>
  <li style="color: rgb(0, 153, 0);">German (de): 549 / 549
    translated by Mario Blättermann, Martin Manns and Christian Kirbach</li>
  <li style="color: rgb(255, 0, 0);">Nowegian Bokmaal (nb): 239 /
    549 translated by Andreas Noteng</li>
  <li style="color: rgb(255, 0, 0);">Nowegian Nynorsk (nn): 497 /
    549 translated by Andreas Noteng</li>
  <li style="color: rgb(0, 153, 0);">Ukrainian (uk): 549 /
    549 translated by Yuri Chornoivan</li>
</ul>


<h1>Charts</h1>

<p class="one_line_heading">
  Pyspread provides a graphical dialog to create matplotlib charts.
  Ideas or patches for additional matplotlib chart types or parameters are
  greatly appreciated. Please include license information for icons.
</p>

<p class="one_line_heading">
Chart overview:
</p>

<table class="one_line_heading" style=" text-align: left;"
       border="0" cellpadding="2" cellspacing="8">
  <tbody>
    <tr>
      <td style="vertical-align: top; font-weight: bold;">Icon<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Chart
        type<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Matplotlib
        name<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Proposed
        by</td>
      <td style="vertical-align: top; font-weight: bold;">Target
        version</td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Line plot"
          src="images/chart_line.png"><br>
      </td>
      <td style="vertical-align: top;">Line / scatter plot<br>
      </td>
      <td style="vertical-align: top;">plot<br>
      </td>
      <td style="vertical-align: top;">Martin Manns</td>
      <td style="vertical-align: top;">0.2.3<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Bar plot"
          src="images/chart_column.png"><br>
      </td>
      <td style="vertical-align: top;">Bar plot<br>
      </td>
      <td style="vertical-align: top;">bar<br>
      </td>
      <td style="vertical-align: top;">Martin Manns</td>
      <td style="vertical-align: top;">0.2.3<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Histogram"
          src="images/chart_histogram.png"><br>
      </td>
      <td style="vertical-align: top;">Histogram<br>
      </td>
      <td style="vertical-align: top;">hist</td>
      <td style="vertical-align: top;">Martin Manns</td>
      <td style="vertical-align: top;">0.2.4<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Box plot"
          src="images/chart_boxplot.png"><br>
      </td>
      <td style="vertical-align: top;">Box plot<br>
      </td>
      <td style="vertical-align: top;">boxplot</td>
      <td style="vertical-align: top;">Martin Manns</td>
      <td style="vertical-align: top;">0.2.4<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Pie chart"
          src="images/chart_pie.png"><br>
      </td>
      <td style="vertical-align: top;">Pie chart<br>
      </td>
      <td style="vertical-align: top;">pie<br>
      </td>
      <td style="vertical-align: top;">Martin Manns</td>
      <td style="vertical-align: top;">0.2.4</td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Annotation text"
          src="images/chart_annotate.png"><br>
      </td>
      <td style="vertical-align: top;">Annotation text<br>
      </td>
      <td style="vertical-align: top;">annotate<br>
      </td>
      <td style="vertical-align: top;">Martin Manns</td>
      <td style="vertical-align: top;">0.2.4</td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Contour chart"
          src="images/chart_contour.png"><br>
      </td>
      <td style="vertical-align: top;">Contour chart<br>
      </td>
      <td style="vertical-align: top;">contour<br>
      </td>
      <td style="vertical-align: top;">Kris<br>
      </td>
      <td style="vertical-align: top;">0.2.6<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><img style=" width:
          24px; height: 24px;" alt="Sankey diagram"
          src="images/chart_sankey.png"><br>
      </td>
      <td style="vertical-align: top;">Sankey diagram<br>
      </td>
      <td style="vertical-align: top;">Sankey<br>
      </td>
      <td style="vertical-align: top;">Kris<br>
      </td>
      <td style="vertical-align: top;">0.2.6<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><span
          style="font-style: italic;">Your chart could go
          here</span>.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>


<h1>Submitting code</h1>

<ol class="one_line_heading">
  <li>Get a github account.</li>
  <li>Fork the branch that you would like to work with (see
    <a href="http://help.github.com/fork-a-repo/"
      target="_blank">github help</a>).<br>
  </li>
  <li>Issue a pull request when ready.</li>
</ol>

<p class="one_line_heading">
  or send your patch to
  <a href="mailto:pyspread-dev@gna.org">pyspread-dev@gna.org</a>
</p>


<p class="impressum">
  Author:
  <a href="mailto:mmanns <at> gmx <dot> net">
    Martin Manns (mmanns &lt; at &gt; gmx &lt; dot &gt; net)
  </a>
  <br> <br>
  Last changed: 11. May 2016</span>
</p>
