<table border="0" cellpadding="15" cellspacing="0" style=
"text-align: left; width: 100%; margin-left: auto; margin-right: auto;">
    <tbody>
        <tr>
            <th style=
            "vertical-align: top; background-color: white; width: 102px;">user
            manual<br></th>

            <td style="vertical-align: top;">
                <a href="First%20steps.html">First steps into pyspread.</a>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="width: 211px;"><br></td>
        </tr>

        <tr>
            <th style="vertical-align: top;">Tutorial<br></th>

            <td style="vertical-align: top;">The pyspread tutorial.<br></td>

            <td style="vertical-align: top;"><br></td>

            <td style="vertical-align: top;"><br></td>
        </tr>

        <tr>
            <th style="vertical-align: top;">faq<br></th>

            <td style="vertical-align: top;">
                <a href="FAQ.html">Frequently asked questions.</a><br>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="vertical-align: top;"><br></td>
        </tr>

        <tr>
            <th style="vertical-align: top;">podcast<br></th>

            <td style="vertical-align: top;">
                <a href="videos/pyspread_podcast_1.mp4">How to import large
                amounts of data.</a><br>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="vertical-align: top;"><br></td>
        </tr>
    </tbody>
</table>

<p><span style="font-style: italic;"><small>Copyright Martin Manns</small><br>
Contact mmanns &lt; at &gt; gmx &lt; dot &gt; net<br style=
"font-style: italic;"></span> <span style="font-style: italic;">Last changed:
12. May 2013</span></p>

<p><span style="font-style: italic;"><small></small></span></p>