<aside>
</aside>


<h1>Use cases</h1>

<p class="one_line_heading">
  <a href="https://manns.github.io/pyspread/examples/pyspread_presentation.pdf">
    Presentations with pyspread
  </a>
  (<a href="https://manns.github.io/pyspread/examples/pyspread_presentation.pys">pys file</a>)
</p>


<h1>Tutorials</h1>

<p class="one_line_heading">
  <a href="tutorial.html">The pyspread tutorial.</a>
  <br> <br>
  <a href="videos/pyspread_podcast_1.mp4">
    Screencast: How to import large amounts of data.
  </a>
</p>


<h1>User manual</h1>

<p class="one_line_heading">
  <a href="First%20steps.html">First steps into pyspread.</a>
</p>


<h1>FAQ</h1>

<p class="one_line_heading">
  <a href="FAQ.html">Frequently asked questions.</a><br>
</p>


<p class="impressum">
  Author:
  <a href="mailto:mmanns <at> gmx <dot> net">
    Martin Manns (mmanns &lt; at &gt; gmx &lt; dot &gt; net)
  </a>
  <br> <br>
  Last changed: 28. December  2014</span>
</p>
