<aside>
  <br> <br>
  <a href="images/screenshot_presentation_large.png">
    <img alt="Pyspread with presentation example"
         src="images/screenshot_presentation_thumb.png"
         style="border: 0px solid ; width: 200px; height: 164px;">
  </a>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <a href="images/screenshot_wagner_large.png">
    <img alt="Pyspread with the Wagner Whitin algorithm"
         src="images/screenshot_wagner_thumb.png"
         style="border: 0px solid ; width: 200px; height: 157px;">
  </a>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <a href="images/screenshot_apt_large.png">
    <img alt="Pyspread with an apt package analysis"
         src="images/screenshot_apt_thumb.png"
         style="border: 0px solid ; width: 200px; height: 164px;">
  </a>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <a href="images/screenshot_jedi_large.png">
    <img alt="Pyspread with code completion"
         src="images/screenshot_jedi_thumb.png"
         style="border: 0px solid ; width: 200px; height: 164px;">
  </a>
  <br>
</aside>


<h1>Dependencies</h1>

<p class="one_line_heading">
  Pyspread works on Linux and other GTK platforms as well as on Windows.
  While there have been reports that pyspread can be used on OS X as well,
  OS X is currently unsupported.
  <br>
  Pyspread requires the following software to be installed:
</p>

<ul class="one_line_heading">
  <li> <a href="https://www.python.org/">Python</a>
    (&gt;=2.7, &lt;3.0) </li>
  <li> <a href="http://www.numpy.org/">numpy</a>
    (&gt;=1.1.0) </li>
  <li> <a href="http://www.wxpython.org/">wxPython</a>
    (&gt;=2.8.10.1, Unicode version required) </li>
  <li> <a href="http://matplotlib.org/">matplotlib</a>
    (&gt;=1.1.1)</li>
  <li> <a href="https://cairographics.org/pycairo/">pycairo</a>
    (&gt;=1.8.8)</li>
  <li> <a href="http://code.google.com/p/python-gnupg/">python-gnupg</a>
    (&gt;=0.3.0, for opening own files without approval) <br>
  </li>
</ul>

<p class="one_line_heading">
  The following optional dependencies improve user experience:
</p>

<ul class="one_line_heading">
  <li> <a href="http://www.python-excel.org/">xlrd</a>
    (&gt;=0.9.2, for loading Excel files)</li>
  <li><a href="http://www.python-excel.org/">xlwt</a>
    (&gt;=0.9.2, for saving Excel files)</li>
  <li><a href="https://pypi.python.org/pypi/jedi">jedi</a>
    (&gt;=0.8.0, for tab completion and context help in the
    entry line)</li>
  <li> <a href="http://cairographics.org/download/">pyrsvg</a>
    (&gt;=2.32, for displaying SVG files in cells)</li>
  <li><a href="https://pythonhosted.org/pyenchant/">pyenchant</a>
    (&gt;=1.1, for spell checking)</li>
  <li><a href="https://wiki.videolan.org/Python_bindings">Python bindings for libvlc</a>
    (with libvlc.so.5, for video playback)</li>
  <li><a href="http://matplotlib.org/basemap/">basemap</a>
    (&gt;=1.0.7, for the weather example pys file)<br>
  </li>
</ul>


<h1>Source</h1>

<p class="one_line_heading">

  These instructions are for installing the source tarball
  <br>
  <a href="https://pypi.python.org/packages/4a/19/0447639d5bbf272b7d388a2ce9374d7f552966b90b66e108e8d7850b3628/pyspread-1.1.1.tar.gz#md5=021921de5a49b9ab98ec845ee215b50b">pyspread v1.1.1</a>
  (<a href="https://pypi.python.org/packages/4a/19/0447639d5bbf272b7d388a2ce9374d7f552966b90b66e108e8d7850b3628/pyspread-1.1.1.tar.gz.asc">gpg sig</a>).
  <br> <br>
  Installation:
  <br>
  <ol class="one_line_heading">
    <li>
      Ensure that <span style="text-decoration: underline;">all</span>
      dependencies are installed.
      <br> <br>
    </li>
    <li>
      Unpack the tarball
      <br> <br>
    </li>
    <li>
      cd to the extraction directory
      <br> <br>
    </li>
    <li>
      Type in
      <br>
      <tt>python setup.py install</tt>
    </li>
  </ol>
</p>


<h1>Linux</h1>

<p class="one_line_heading">

  The following distributions provide pyspread as a package
  (latest release linked):
  <br> <br>

</p>

<table class="one_line_heading" style=" text-align: left;"
       border="0" cellpadding="4" cellspacing="7">
  <tbody>
    <tr>
      <td style="text-align: center;"><img style=" width:
          24px; height: 24px;" alt="Arch logo"
          src="https://manns.github.io/pyspread/images/arch-logo-small.png"
          align="middle"><br>
      </td>
      <td style="text-align: left;">Arch</td>
      <td><a
          href="https://aur.archlinux.org/packages/pyspread/">pyspread v1.0.3</a><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;"><img style=" width:
          20px; height: 24px;" alt="Debian logo"
          src="https://manns.github.io/pyspread/images/debian-logo-small.png"
          align="middle"></td>
      <td style="text-align: left;">Debian</td>
      <td><a
          href="https://packages.debian.org/de/sid/pyspread">pyspread v1.1</a></td>
    </tr>
    <tr>
      <td style="text-align: center;"><img style=" width:
          24px; height: 24px;" alt="Fedora logo"
          src="https://manns.github.io/pyspread/images/fedora-logo-small.png"
          align="middle"></td>
      <td style="text-align: left;">Fedora</td>
      <td><a
          href="https://fedora.pkgs.org/24/rpm-sphere/pyspread-1.0.3-6.1.noarch.rpm.html">pyspread v1.0.3</a></td>
    </tr>
    <tr>
      <td style="text-align: center;"><img style=" width:
          27px; height: 24px;" alt="Linux Mint logo"
          src="https://manns.github.io/pyspread/images/linux-mint-logo-small.png"
          align="middle"></td>
      <td style="text-align: left;">Linux Mint</td>
      <td><a
          href="https://community.linuxmint.com/software/view/pyspread">pyspread v1.0.1</a>
          <i>Please do not use v1.0.1 that has a critical file saving bug.</i></td>
    </tr>
    <tr>
      <td style="text-align: center;"><img style=" width:
          23px; height: 24px;" alt="Mageia logo"
          src="https://manns.github.io/pyspread/images/mageia-logo-small.png"
          align="middle"></td>
      <td style=" text-align: left;">Mageia</td>
      <td><a href="https://madb.mageia.org/package/show/name/pyspread/release/cauldron">pyspread v1.0.3</a></td>
    </tr>
    <tr>
      <td style="text-align: center;"><img style=" width:
          24px; height: 24px;" alt="Slackware logo"
          src="https://manns.github.io/pyspread/images/slackware-logo-small.png"><br>
      </td>
      <td style="text-align: left;">Slackware</td>
      <td><a
          href="https://slackbuilds.org/repository/14.2/office/pyspread/">pyspread v1.0.3</a></td>
    </tr>
    <tr>
      <td style="vertical-align: top; text-align: center;"><img
          style=" width: 24px; height: 24px;" alt="Ubuntu logo" src="https://manns.github.io/pyspread/images/ubuntu-logo-small.png"
          align="middle"></td>
      <td style="vertical-align: top;">Ubuntu</td>
      <td style="vertical-align: top;"><a
          href="https://packages.ubuntu.com/artful/pyspread">pyspread v1.1</a></td>
    </tr>
  </tbody>
</table>

<p class="one_line_heading">

  For these distributions, the easiest way is to install
  pyspread from the repositories. The source distribution can
  also be used e.g. if the packaged version is outdated.

</p>


<h1>Windows</h1>

<h2>Installer</h2>

<p class="one_line_heading">
  Starting from version 1.0, a Windows 32 bit installer is available (Windows XP or later).
  The latest version can be downloaded <a href="https://github.com/manns/pyspread/releases/download/v1.0.2/pyspread-1.0.2-win32-setup.exe">here</a> 
  (120MB download, <a href="https://github.com/manns/pyspread/releases/download/v1.0.2/pyspread-1.0.2-win32-setup.exe.sig">gpg sig</a>).

<h2>Manual installation</h2>

<p class="one_line_heading">
  If you want to customize a Windows installation or if you require 64 bit then install pyspread manually.
  Please follow these instructions. Links point at sites where both 32 bit and to 64 bit versions are provided.<br>
  <ol class="one_line_heading">
    <li>Download and install Python, numpy and matplotlib.
      You can find 32bit and 64bit packages of WinPython <a
        href="http://winpython.sourceforge.net/">here</a>.
      Make sure to get the Python2 version.
      If WinPython is used then the WinPython control panel is recommended for all installations.<br> <br>
    </li>
    <li>Download and install Cairo and pycairo. Working binaries are available <a
        href="http://www.lfd.uci.edu/%7Egohlke/pythonlibs/">here</a>. Note that Cairo has to be installed by maunually copying it. Make sure to read the installation instructions.<br>
      <br>
    </li>
    <li>Download and install <a
        href="http://www.wxpython.org/download.php#stable">wxPython 2.8.x</a>.<br>
      <br>
    </li>
    <li>Download and install gnupg (<a
        href="https://www.gpg4win.org/">Gpg4win</a> supports
      32&amp;64bit)<br>
      <br>
    </li>
    <li>Download and install <a
        href="http://pythonhosted.org/python-gnupg/#download">python-gnupg</a>.<br>
      <br>
      For&nbsp; <span style="font-weight: bold;">32 bit
        systems</span>, an exe installer
      (python-gnupg-0.3.4.win32.exe) is provided on the linked
      page.<br>
      <br>
      For <span style="font-weight: bold;">64 bit systems</span>,
      the python-gnupg tarball (python-gnupg-0.3.4.tar.gz) has
      to be extracted (e.g. with 7zip) and installed as
      follows:<br>
      <br>
    </li>
    <li>Download and install the source distribution of pyspread<br>
      <br>
    </li>
    <li>Start pyspread by double-clicking on the file
      pyspread.bat in the extraction directory</li>
  </ol>

</p>


<p class="impressum">
  Author:
  <a href="mailto:mmanns <at> gmx <dot> net">
    Martin Manns (mmanns &lt; at &gt; gmx &lt; dot &gt; net)
  </a>
  <br> <br>
  Last changed: 30. October 2017</span>
</p>
