<p></p>

<table border="0" cellpadding="15" cellspacing="0" style=
"text-align: left; width: 100%; margin-left: auto; margin-right: auto;">
    <tbody>
        <tr>
            <th style=
            "vertical-align: top; background-color: white; width: 102px;">
            About<br></th>

            <td style="vertical-align: top;">
                Pyspread is a non-traditional spreadsheet application that is
                based on and written in the programming language <a href=
                "http://www.python.org/">Python</a>.<br>
                <br>
                The goal of pyspread is to be the most pythonic
                spreadsheet.<br>
                <br>
                Pyspread expects Python expressions in its grid cells, which
                makes a spreadsheet specific language obsolete. Each cell
                returns a Python object that can be accessed from other cells.
                These objects can represent anything including lists or
                matrices.<br>
                <br>
                Pyspread is free software. It is released under the <a href=
                "http://www.gnu.org/copyleft/gpl.html">GPL v3</a>.<br>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="width: 211px;">
                <a href="images/screenshot_main_window_0.2.0.png"><img alt=
                "Pyspread main window" src=
                "images/screenshot_main_window_0.2.0_preview.png" style=
                "border: 0px solid ; width: 200px; height: 154px;"></a><br>
            </td>
        </tr>

        <tr>
            <th style="vertical-align: top; width: 102px;">Features<br></th>

            <td style="vertical-align: top;">
                <ul style="text-align: left;">
                    <li>CSV import and export</li>
                    <li>Chart creation dialog based on <a href="http://matplotlib.org/">
                        matplotlib</a>
                    <li>Python objects as cell results</li>
                    <li>Python macros</li>
                    <li>GPG based save file signatures for preventing foreign code
                    execution<br></li>

                    <li>Access to all Python modules from within cells.
                        These modules allow for example matrix operations via <a href="http://www.numpy.org/">
                        numpy</a> or fixed point decimal numbers for business calculations via <a href="http://docs.python.org/library/decimal.html">
                        decimal</a>.
                </ul>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="width: 211px;">
                <a href="images/screenshot_sinus_large.png"><img alt=
                "Pyspread screenshot" src="images/screenshot_sinus_thumb.png"
                style=
                "border: 0px solid ; width: 200px; height: 173px;"></a><br>
                <a href="images/screenshot_fonts.png"><br></a>
            </td>
        </tr>

        <tr>
            <th style="vertical-align: top;">news<br></th>

            <td style="vertical-align: top; text-align: left;">
                February 2014: Pyspread 0.2.6 is out. Get it <a href=
                "https://pypi.python.org/packages/source/p/pyspread/pyspread-0.2.6.tar.gz#md5=58777ac67dfe044370331f2a7f887a40">
                here</a>.
                <div style="margin-left: 40px;">
                    <br>
                    New features:<br>

                    <ul>

                        <li>Reading support for Excel xls files (requires dependency xlrd)</li>

                        <li>Code execution timeout, i. e. buggy code such as infinite loops does
			    not lock up pyspread any more.
			    Note: The timeout does not work for C operations such as
		            a ** <big number><br></li>

                        <li>Macro dialog now provides an error message field<br></li>

                        <li>Contour plots and Sankey charts added to chart dialog<br></li>

                        <li>Chart dialog further improved<br></li>

                        <li>Example macro for in cell LaTeX equations added<br></li>
                    </ul>
                </div>
                <br>
                October/December 2013: Martin Manns has written a German article that compares pyspread to three other FOSS spreadsheets for SVG chart creation.
                It is available at <a href=http://www.pro-linux.de/artikel/2/1654/diagramme-in-linux-vier-tabellenkalkulationen-im-vergleich.html>Pro-Linux</a>
                and at <a href=http://www.freiesmagazin.de/mobil/freiesMagazin-2013-12-bilder.html#fm_13_12_tabellenkalkulationen>freiesMagazin</a>.
                <p><br>
                October 2013: Andreas Noteng has provided a preliminary deb package of Pyspread 0.2.5.
                You can download it <a href=
                "https://github.com/manns/pyspread/raw/gh-pages/latest_version/pyspread_0.2.5-1~ppa1_all.deb">
                here</a>.
                <p><br>
                September 2013: Pyspread 0.2.5 is out. Get it <a href=
                "https://pypi.python.org/packages/source/p/pyspread/pyspread-0.2.5.tar.gz#md5=19962c8e2626e285ec8cabf96f9bc60c">
                here</a>.
                <div style="margin-left: 40px;">
                    <br>
                    New features:<br>

                    <ul>
                        <li>String representation of S removed to prevent lockups in large grids</li>

                        <li>Brazilian Portuguese localization added<br></li>

                        <li>CSV file import now allows different file encodings<br></li>

                        <li>Improved chart dialog<br></li>

                        <li>Unit tests now succeed in Windows<br></li>

                        <li>Various bug fixes<br></li>
                    </ul>
                </div>
                <br>
                July 2013: Pyspread 0.2.4 is out. Get it <a href=
                "https://pypi.python.org/packages/source/p/pyspread/pyspread-0.2.4.tar.gz#md5=0b738a605408d021f65683073f6e3a4a">
                here</a>.
                <div style="margin-left: 40px;">
                    <br>
                    New features:<br>

                    <ul>
                        <li>Windows compatibility</li>

                        <li>More charts and chart options</li>

                        <li>Localization in Nowegian Nynorsk and Bokmaal<br></li>

                        <li>More than 64k characters supported in one cell<br></li>

                        <li>High quality embedded images<br></li>

                        <li>Paste iterable data into multiple cells via Paste As...<br></li>
                    </ul>
                </div>
                <br>
                April 2013: The Debian package of pyspread 0.2.3 has been
                updated by Andreas Noteng. Get it <a href=
                "http://ftp.us.debian.org/debian/pool/main/p/pyspread/pyspread_0.2.3-2_all.deb">
                here</a>.<br>
                <br>
                January 2013: Pyspread 0.2.3 is out. Get it <a href=
                "http://pypi.python.org/packages/source/p/pyspread/pyspread-0.2.3.tar.gz#md5=c1f5fbb05f6b64cacfb49db5c38a80e1">
                here</a>.

                <div style="margin-left: 40px;">
                    <br>
                    New features:<br>

                    <ul>
                        <li>Matplotlib charts</li>

                        <li>Image display in cells</li>

                        <li>Localization in German, Dutch, Danish and
                        Ukrainian<br></li>

                        <li>Migration away from the PyMe dependency<br></li>
                    </ul>
                </div>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="vertical-align: top;"><br></td>
        </tr>

        <tr>
            <th style="vertical-align: top; width: 102px;">
            Requirements<br></th>

            <td style="vertical-align: top;">
                Pyspread is designed for Linux and other GTK platforms.<br>
                <br>
                Windows™ is supported again in version 0.2.4. However, it
                is unsupported for the version 0.2.0 up to 0.2.3.
                <br>
                <span style=
                "text-decoration: underline;">Dependencies</span><br>

                <ul>
                    <li>
                        <a href="http://www.python.org/">Python</a> (&gt;=2.7,
                        &lt;3.0)
                    </li>

                    <li>
                        <a href="http://www.numpy.org/">numpy</a> (&gt;=1.1.0)
                    </li>

                    <li>
                        <a href="http://www.wxpython.org/">wxPython</a>
                        (&gt;=2.8.10.1, &lt;2.9, Unicode version required)
                    </li>

                    <li>
                        <a href="http://matplotlib.org/">matplotlib</a>
                        (&gt;=1.1.1)<br>
                    </li>

                    <li>
                        <a href=
                        "http://code.google.com/p/python-gnupg/">python-gnupg</a>
                        (&gt;=0.3.0)<br>
                    </li>
                    <li>
                        <a href=
                        "http://www.python-excel.org/">xlrd (optional for opening Excel files)</a>
                        (&gt;=0.9.2)<br>
                    </li>
                </ul>
            </td>

            <td style="vertical-align: top;"><br></td>

            <td style="width: 211px;">
                <a href="images/screenshot_wagner_large.png"><img alt=
                "Pyspread screenshot" src="images/screenshot_wagner_thumb.png"
                style="border: 0px solid ; width: 200px; height: 144px;"></a>
            </td>
        </tr>

        <tr>
            <th style="vertical-align: top;">contact<br></th>

            <td style="vertical-align: top;">
                For user questions or feedback please post to the
                pyspread-users mailing list by sending an e-mail to <a href=
                "mailto:pyspread-users@gna.org">pyspread-users@gna.org</a>. You
                can <a href=
                "https://mail.gna.org/listinfo/pyspread-users/">here</a>
                subscribe to the list.<br>
                <br>
                For contributions, patches, development discussions and ideas
                please post to the pyspread-dev mailing list by sending an
                e-mail to <a href=
                "mailto:pyspread-dev@gna.org">pyspread-dev@gna.org</a>. You can
                <a href="https://mail.gna.org/listinfo/pyspread-dev/">here</a>
                subscribe to the list.
            </td>

            <td style="vertical-align: top;"><br></td>

            <td><br></td>
        </tr>
    </tbody>
</table>

<p></p>

<p><span style="font-style: italic;">Copyright Martin Manns<br>
Contact mmanns &lt; at &gt; gmx &lt; dot &gt; net<br style=
"font-style: italic;"></span> <span style="font-style: italic;">Last changed:
03. February 2014</span></p>