    <table style="text-align: left; width: 100%; margin-left: auto;
      margin-right: auto;" border="0" cellpadding="15" cellspacing="0">
      <tbody>
        <tr>
          <th style="vertical-align: top; background-color: white;
            width: 102px;"> About<br>
          </th>
          <td style="vertical-align: top;"> Pyspread is a
            non-traditional spreadsheet application that is based on and
            written in the programming language <a
              href="http://www.python.org/">Python</a>.<br>
            <br>
            The goal of pyspread is to be the most pythonic spreadsheet.<br>
            <br>
            Pyspread expects Python expressions in its grid cells, which
            makes a spreadsheet specific language obsolete. Each cell
            returns a Python object that can be accessed from other
            cells. These objects can represent anything including lists
            or matrices.<br>
            <br>
            Pyspread is free software. It is released under the <a
              href="http://www.gnu.org/copyleft/gpl.html">GPL v3</a>.<br>
          </td>
          <td style="vertical-align: top;"><br>
          </td>
          <td style="width: 211px;"> <a
              href="images/screenshot_main_window_0.2.0.png"><img
                alt="Pyspread main window"
                src="images/screenshot_main_window_0.2.0_preview.png"
                style="border: 0px solid ; width: 200px; height: 154px;"></a><br>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: top; width: 102px;">Features<br>
          </th>
          <td style="vertical-align: top;">
            <ul style="text-align: left;">
              <li>CSV import and export</li>
              <li>Chart creation dialog based on <a
                  href="http://matplotlib.org/"> matplotlib</a> </li>
              <li>Python objects as cell results</li>
              <li>Python macros</li>
              <li>GPG based save file signatures for preventing foreign
                code execution<br>
              </li>
              <li>Access to all Python modules from within cells. These
                modules allow for example matrix operations via <a
                  href="http://www.numpy.org/"> numpy</a> or fixed point
                decimal numbers for business calculations via <a
                  href="http://docs.python.org/library/decimal.html">
                  decimal</a>. </li>
            </ul>
          </td>
          <td style="vertical-align: top;"><br>
          </td>
          <td style="width: 211px;"> <a
              href="images/screenshot_sinus_large.png"><img
                alt="Pyspread screenshot"
                src="images/screenshot_sinus_thumb.png" style="border:
                0px solid ; width: 200px; height: 173px;"></a><br>
            <a href="images/screenshot_fonts.png"><br>
            </a> </td>
        </tr>
        <tr>
          <th style="vertical-align: top;">news<br>
          </th>
          <td style="vertical-align: top; text-align: left;"> February
            2014: Pyspread 0.3.1 is out. Get it <a
href="https://pypi.python.org/packages/source/p/pyspread/pyspread-0.3.1.tar.gz#md5=45158e467143fcd4328866af7c8cdcdc">
              here</a>.
            <p></p>
            <div style="margin-left: 40px;"> <br>
              Bugfix release:<br>
              <ul>
                <li>Removes a warning</li>
                <li>Updated German and Ukrainian translations</li>
              </ul>
            </div>
          February 2014: Pyspread 0.3.0 is out. Get it <a
href="https://pypi.python.org/packages/source/p/pyspread/pyspread-0.3.0.tar.gz#md5=55962ead5c2a45c059a457318f533f07">
              here</a>.
            <p></p>
            <div style="margin-left: 40px;"> <br>
              New features:<br>
              <ul>
                <li>wxPython 3.x support</li>
                <li>Entryline text completion (use &lt;Tab&gt;)</li>
                <li>EntryLine tooltip now displays docstrings for
                  methods and builtins (use &lt;Tab&gt;)</li>
                <li>nn function added to remove None from result array</li>
                <li>Uncompressed pysu save file format </li>
                <li>Writing xls files (still experimental)</li>
                <li>Cell locking</li>
                <li>Cell sorting</li>
                <li>Frozen cells can now be updated periodically
                  (&gt;=100 ms/update)</li>
                <li>Reference to a selection can now be copied the the
                  clipboard with &lt;Ctrl&gt; + R</li>
                <li>&lt;Home&gt; now moves the active cell to the first
                  column of the actual row</li>
                <li>&lt;Shift&gt; + &lt;Space&gt; now selects the
                  current row</li>
                <li>&lt;Ctrl&gt; + &lt;Space&gt; now selects the current
                  column</li>
                <li>Fingerprint in gpg key choice dialog</li>
                <li>Tooltips for toolbar icons</li>
              </ul>
            </div>
            March 2014: Andreas Noteng has provided a <a
              href="https://packages.debian.org/sid/pyspread">deb
              package</a> for installing pyspread 0.2.6 on Debian Linux.
            The package can also be found in the Debian testing
            repository.
            <p><br>
              February 2014: Dimitris Zlatanidis has provided a <a
                href="http://slackbuilds.org/repository/14.1/office/pyspread/">
                SlackBuild</a> for installing pyspread on <a
                href="http://www.slackware.com/">Slackware Linux 14.1</a>.
            </p>
            <p><br>
              February 2014: Pyspread 0.2.7 is out. Get it <a
href="https://pypi.python.org/packages/source/p/pyspread/pyspread-0.2.7.tar.gz#md5=2306a96124edbb46230ea5cb1199e3c0">
                here</a>. This is a bug fix release for the chart dialog
              on Windows systems. </p>
            <p><br>
              February 2014: Pyspread 0.2.6 is out. Get it <a
href="https://pypi.python.org/packages/source/p/pyspread/pyspread-0.2.6.tar.gz#md5=58777ac67dfe044370331f2a7f887a40">
                here</a>. </p>
            <div style="margin-left: 40px;"> <br>
              New features:<br>
              <ul>
                <li>Reading support for Excel<sup>&reg;</sup> xls files
                  (requires dependency xlrd)</li>
                <li>Code execution timeout, i. e. buggy code such as
                  infinite loops does not lock up pyspread any more.
                  Note: The timeout does not work for long running C
                  operations<br>
                </li>
                <li>Macro dialog now provides an error message field<br>
                </li>
                <li>Contour plots and Sankey charts added to chart
                  dialog<br>
                </li>
                <li>Chart dialog further improved<br>
                </li>
                <li>Example macro for in cell LaTeX equations added<br>
                </li>
              </ul>
            </div>
          </td>
          <td style="vertical-align: top;"><br>
          </td>
          <td style="width: 211px;"> <a
              href="images/screenshot_basemap_large.png"><img
                alt="Pyspread screenshot"
                src="images/screenshot_basemap_thumb.png" style="border:
                0px solid ; width: 200px; height: 173px;"></a><br>
            <a href="images/screenshot_fonts.png"><br>
            </a> </td>
        </tr>
        <tr>
          <th style="vertical-align: top; width: 102px;"> Requirements<br>
          </th>
          <td style="vertical-align: top;"> Pyspread is designed for
            Linux and other GTK platforms. Windows<sup>&reg;</sup> is
            supported starting with version 0.2.4.
            <p><br>
              <span style="text-decoration: underline;">Dependencies</span><br>
            </p>
            <ul>
              <li> <a href="http://www.python.org/">Python</a>
                (&gt;=2.7, &lt;3.0) </li>
              <li> <a href="http://www.numpy.org/">numpy</a>
                (&gt;=1.1.0) </li>
              <li> <a href="http://www.wxpython.org/">wxPython</a>
                (&gt;=2.8.10.1, Unicode version required) </li>
              <li> <a href="http://matplotlib.org/">matplotlib</a>
                (&gt;=1.1.1)</li>
            </ul>
            <span style="text-decoration: underline;">Optional
              dependencies</span>
            <ul>
              <li> <a href="http://code.google.com/p/python-gnupg/">python-gnupg</a>
                (&gt;=0.3.0, for opening own files without approval) <br>
              </li>
              <li> <a href="http://www.python-excel.org/">xlrd</a>
                (&gt;=0.9.2, for loading Excel<sup>&reg;</sup> files)</li>
              <li><a href="http://www.python-excel.org/">xlwt</a>
                (&gt;=0.9.2, for saving Excel files, pyspread
                &gt;=v0.3.0 required)</li>
              <li><a href="http://jedi.jedidjah.ch">jedi</a>
                (&gt;=0.8.0, for tab completion and context help in the
                entry line, pyspread &gt;=v0.3.0 required)</li>
              <li><a href="http://matplotlib.org/basemap/">basemap</a>
                (&gt;=1.0.7, for the weather example pys file)<br>
              </li>
            </ul>
          </td>
          <td style="vertical-align: top;"><br>
          </td>
          <td style="width: 211px;"> <a
              href="images/screenshot_wagner_large.png"><img
                alt="Pyspread screenshot"
                src="images/screenshot_wagner_thumb.png" style="border:
                0px solid ; width: 200px; height: 144px;"></a> </td>
        </tr>
        <tr>
          <th style="vertical-align: top;">contact<br>
          </th>
          <td style="vertical-align: top;"> For user questions or
            feedback please post to the pyspread-users mailing list by
            sending an e-mail to <a
              href="mailto:pyspread-users@gna.org">pyspread-users@gna.org</a>.
            You can <a
              href="https://mail.gna.org/listinfo/pyspread-users/">here</a>
            subscribe to the list.<br>
            <br>
            For contributions, patches, development discussions and
            ideas please post to the pyspread-dev mailing list by
            sending an e-mail to <a href="mailto:pyspread-dev@gna.org">pyspread-dev@gna.org</a>.
            You can <a
              href="https://mail.gna.org/listinfo/pyspread-dev/">here</a>
            subscribe to the list. </td>
          <td style="vertical-align: top;"><br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <p><span style="font-style: italic;">Copyright Martin Manns<br>
        Contact mmanns &lt; at &gt; gmx &lt; dot &gt; net<br
          style="font-style: italic;">
      </span> <span style="font-style: italic;">Last changed: 12. July
        2014</span></p>
